.App {
  text-align: center;
}

ul{
  list-style-type: none;
  padding: 0;
  color: white;
}

.App-body{
  text-align: center;
}

.title{
  color: white;
  font-family: cursive;
}

.checkButton{
  background-color: white;
  border: none;
  cursor: pointer;
}

.checkButton.checkmark{
  font-size: 410px;
  padding: 0;
  display: inline-block;
  line-height: 0;
}

.checkButton.checked{
  background-color: white;
  color: green;
}

.button-container{
  display: flex;
  justify-content: center;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.container{
  background-image: url(https://www.weho.org/home/showpublishedimage/13258/637019945098600000);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::placeholder{
  color: gray;
}

input:hover{
  color: gray;
}

.button{
  width: 100px;
  margin-right: 20px;
  margin-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
